.leo { font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40pt ;
text-align: left;
color: white;
background-color:#ff6900;}
h4 {font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30pt ;
text-align: left;
color: white;
background-color:#ff6900;}
h5 {font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20pt ;
text-align: left;
color: white;
background-color:#ff6900;}
h6 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;}